name: Build all
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
  # schedule:
  #     # Every Saturday at 2AM UTC
  #   - cron: "0 2 * * 6"
  pull_request:
    branches:
      - 'main'

env:
  DNF_CACHE_PATH: /var/cache/libdnf5 # F41+ and newer F40 with libdnf5
  HOST_DNF_CACHE_PATH: /tmp/libdnf5 # Any path is okay
  DNF_CACHE_PURGE_THRESHOLD_MB: 400

jobs:
  build-and-push:
    strategy:
      matrix:
        job:
          - { name: amd64, os: ubuntu-latest, pretty-name: Build and push amd64 image }
          - { name: arm64, os: ubuntu-24.04-arm, pretty-name: Build and push arm64 image }
    runs-on: ${{ matrix.job.os }}
    name: ${{ matrix.job.pretty-name }}
    permissions:
      contents: read
      packages: write
      id-token: write # needed for signing the images with GitHub OIDC Token
      attestations: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Check out the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Mkdir for DNF Cache
        run: mkdir -p ${{ env.HOST_DNF_CACHE_PATH }}

      - name: Restore DNF Cache
        uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ env.HOST_DNF_CACHE_PATH }}
          key: dnf-cache-${{ matrix.job.name }}
      
      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Extract metadata for Docker (main)
        id: meta-main
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: |
            latest=false
          tags: |
             type=raw,value={{date 'YYYYMMDD'}}-${{ matrix.job.name }},enable={{is_default_branch}}
             type=raw,value=latest-${{ matrix.job.name }},enable={{is_default_branch}}
             type=ref,event=pr,suffix=-${{ matrix.job.name }}

      - name: Log in to ghcr.io (Using Action)
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603 # v1.7
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io

      - name: Buildah Action (main)
        id: build-image-main
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
        with:
          context: .
          containerfiles: Dockerfile
          tags: ${{ steps.meta-main.outputs.tags }}
          oci: true
          extra-args: |
            --squash
            -v ${{ env.HOST_DNF_CACHE_PATH }}:${{ env.DNF_CACHE_PATH }}

      - name: Purge dnf5 cache if too big
        run: |
          # Folder size (KB)
          folder_size=$(du -sk ${{ env.HOST_DNF_CACHE_PATH }} | cut -f1)
          echo "Folder size: ${folder_size} KB; $(($folder_size /1024)) MB"
  
          # 100MB = 100 * 1024 KB
          threshold=$((${{ env.DNF_CACHE_PURGE_THRESHOLD_MB }} * 1024))
          echo "Threshold size: ${threshold} KB; ${{ env.DNF_CACHE_PURGE_THRESHOLD_MB }} MB"

          if [ "$folder_size" -gt "$threshold" ]; then
            echo "Threshold size exceed, purging."
            rm -rf ${{ env.HOST_DNF_CACHE_PATH }}/*
            echo '### DNF Cache purging: true' >> $GITHUB_STEP_SUMMARY
          else
            echo "Threshold size is not exceed."
            echo '### DNF Cache purging: false' >> $GITHUB_STEP_SUMMARY
          fi

      - name: Save DNF Cache
        uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ env.HOST_DNF_CACHE_PATH }}
          key: dnf-cache-${{ matrix.job.name }}-${{ github.run_id }}

      - name: Push (main)
        id: push-main
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
        with:
          image: ${{ steps.build-image-main.outputs.image }}
          tags: ${{ steps.build-image-main.outputs.tags }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          extra-args: |
            --compression-format=zstd

      - name: Attest (main)
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        if: github.event_name != 'pull_request'
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.push-main.outputs.digest }}
          push-to-registry: true

  link-container-tags:
    runs-on: ubuntu-24.04-arm
    name: Link Container tags
    needs: build-and-push
    if: github.event_name != 'pull_request'
    permissions:
      contents: read
      packages: write
      id-token: write # needed for signing the images with GitHub OIDC Token
      attestations: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Login ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and push manifest (latest)
        id: manifest-latest
        uses: Noelware/docker-manifest-action@dbe59e31eb61049f37aa51bfc7f44d899215008e
        with:
          inputs: ghcr.io/${{ github.repository }}:latest
          images: |
            ghcr.io/${{ github.repository }}:latest-amd64,
            ghcr.io/${{ github.repository }}:latest-arm64
          push: true

      - name: Get Date
        id: get-date
        shell: bash
        run: |
          echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT

      - name: Create and push manifest (time)
        id: manifest-time
        uses: Noelware/docker-manifest-action@dbe59e31eb61049f37aa51bfc7f44d899215008e
        with:
          inputs: ghcr.io/${{ github.repository }}:${{ steps.get-date.outputs.date }}
          images: |
            ghcr.io/${{ github.repository }}:${{ steps.get-date.outputs.date }}-amd64,
            ghcr.io/${{ github.repository }}:${{ steps.get-date.outputs.date }}-arm64
          push: true

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: "Image:Digest -> Digest"
        id: get-digest-only
        shell: bash
        run: |
          echo "digest-latest=$(echo ${LATEST} | awk -F'@' '{print $2}')" >> $GITHUB_OUTPUT
          echo "digest-time=$(echo ${TIME} | awk -F'@' '{print $2}')" >> $GITHUB_OUTPUT
        env:
          LATEST: ${{ steps.manifest-latest.outputs.images }}
          TIME: ${{ steps.manifest-time.outputs.images }}

      - name: Attest (Tag resign) (latest)
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.get-digest-only.outputs.digest-latest }}
          push-to-registry: true

      - name: Sign the images with GitHub OIDC Token (recursive)
        env:
          IMAGES: ${{ steps.manifest-time.outputs.images }}
        run: |
          cosign sign --yes --recursive ${IMAGES}

      - name: Attest (Tag resign) (time)
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.get-digest-only.outputs.digest-time }}
          push-to-registry: true

  # For PR Test Only
  # https://stackoverflow.com/questions/59077079/how-to-get-pull-request-number-within-github-actions-workflow
  link-container-tags-test:
    runs-on: ubuntu-24.04-arm
    name: Link Container tags (PR Test)
    needs: build-and-push
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
      packages: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Get PR number
        id: pr
        run: echo "PR_NUMBER=${{ github.event.pull_request.number }}" >> $GITHUB_OUTPUT

      - name: Login ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and push manifest (PR)
        id: manifest-time
        uses: Noelware/docker-manifest-action@dbe59e31eb61049f37aa51bfc7f44d899215008e
        with:
          inputs: ghcr.io/${{ github.repository }}:pr-${{ steps.pr.outputs.PR_NUMBER }}
          images: |
            ghcr.io/${{ github.repository }}:pr-${{ steps.pr.outputs.PR_NUMBER }}-amd64,
            ghcr.io/${{ github.repository }}:pr-${{ steps.pr.outputs.PR_NUMBER }}-arm64
          push: true
