name: Reusable Build and Push
on:
  workflow_call:
    inputs:
      image_name:
        description: "The name of the container image."
        required: true
        type: string
      path:
        description: "The path of the Docker file, eg. dockerfiles/fe-test"
        required: true
        type: string
      push_to_ghcr:
        description: "Push to ghcr.io"
        required: false
        type: boolean
        default: false
      max_space:
        description: "Push to ghcr.io"
        required: false
        type: boolean
        default: false

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write # needed for signing the images with GitHub OIDC Token

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Maximize build space
        if: ${{ inputs.max_space == 'true' }}
        uses: ublue-os/remove-unwanted-software@v7
      
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.7.0
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set date tag
        run: echo "DATE_TAG=$(date '+%Y%m%d')" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push to ghcr.io
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.path }}
          push: ${{ inputs.push_to_ghcr }}
          cache-from: type=registry,ref=ghcr.io/${{ inputs.image_name }}:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ inputs.image_name }}:buildcache,mode=max,compression=zstd
          tags: |
            ghcr.io/${{ inputs.image_name }}:${{ env.DATE_TAG }}
            ghcr.io/${{ inputs.image_name }}:latest

      - name: Sign the images with GitHub OIDC Token
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
          TAGS: ${{ env.DATE_TAG }}, latest
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}